default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: <%= ENV['LOGIN-SYSTEM-BS4_DATABASE_USERNAME'] %>
  password: <%= ENV['LOGIN-SYSTEM-BS4_DATABASE_PASSWORD'] %>

development:
  <<: *default
  database: login-system-bs4_development

test:
  <<: *default
  database: login-system-bs4_test

production:
  <<: *default
  database: login-system-bs4_production
