= link_to administrator_administrators_url, class: "btn btn-sm btn-dark", style: "margin-top:10px;" do
  = fa_icon "arrow-left", text: "Kembali ke Daftar Administrator"

%hr
%h5.text-bold KOREKSI ADMINISTRATOR
%hr
= render 'form'
